

*.swp
*.aux

main.pdf

main.aux
main.dvi
main.fdb_latexmk
main.fls
main.log
main.out
main.ps
main.toc
main.out.ps
main.bbl
main.bcf
main.blg
main.run.xml
main.tex.latexmain
main.loa
Bin/gen_chapters

